@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 0 100% 0%;
    --primary-foreground: 0 0% 100%;
    --primary-hover: 244 26% 11%;

    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 10%;

    --muted: 210 40% 96%;
    --muted-foreground: 0 0% 40%;

    --accent: 214 100% 45%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 214 100% 45%;

    --radius: 0.5rem;

    --gradient-primary: linear-gradient(135deg, #212121, #212121);
    --gradient-hero: linear-gradient(to bottom right, #212121, #212121);
    --shadow-primary: 0 10px 40px -10px rgba(33, 33, 33, 0.3);

    --destaque: 241, 100%, 55%;
    --destaque-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 214 100% 50%;
    --primary-foreground: 0 0% 100%;
    --primary-hover: 244 26% 11%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;

    --accent: 214 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 214 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
